@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:default;
}
ul, ol
{
    list-style:none;
}
a
{
    text-decoration:none;
    color:#ffff;
    cursor:pointer;
}
a i
{
    cursor:pointer;
}
h1
{
    animation:OooShiny alternate infinite ease-in 1s;
}
h2
{
    animation:Gradientmoment infinite linear 3s;
}
.topline
{
    width:100%;
    height:120px;
    overflow:hidden;
    background:#000f;
    color:#ffff;
    position:fixed;
    z-index:7;
}
.topline .title
{
    float:left;
    margin-top:5px;
    margin-left:670px;
}
.topline .title img
{
    text-align:center;
    margin-top:10px;
    margin-left:70px;
    width:440px;
    height:100px;
}
.topline .notifications
{
    float:right;
    font-size:70px;
    height:50px;
    margin-right:20px;
}
.topline .notiifications i
{
    width:70px;
    position:absolute;
}
.ideaimg
{
    width:1920px;
    height:880px;
    position:fixed;
    z-index:1;
}
.backimg
{
    position:absolute;
    height:80px;
    width:1903px;
    z-index:3;
    margin-top:780px;
}
.text
{
    font-family:'PT serif';
    font-size:70px;
    text-align:center;
    top:500px;
    z-index:2;
    color:#ffff;
    position:fixed;
    margin-top:-120px;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:#000f;
    text-shadow:0px 0px 10px #000f;
    margin-left:36%;
}
.main
{
    width:100%;
    height:2160px;
    background:url(source/cobblestonebackground.png);
    background-size:100px;
    margin-top:860px;
    z-index:5;
    position:absolute;
    overflow:hidden;
}
.main .left
{
    margin-left:20px;
    float:left;
}
.main .left .download
{
    color:#ffff;
    font-size:64px;
    font:"arial";
    z-index:2;
}
.main .left .about .abouttitle
{
    font-size:36px;
}
.main .left .about .aboutdesc
{
    font-family:'Noto Sans';
    font-size:20px;
}
.main .left .difficulty
{
    margin-top:10px;
}
.main .left .difficulty .difftitle
{
    font-size:36px;
}
.main .left .difficulty .difficulties:hover
{
    background:#fff8;
}
.main .left .difficulty .difficulties .difficult
{
    font-size:24px;
}
.main .left .difficulty .difficulties .diffdesc
{
    margin-left:20px;
}
.main .right
{
    margin-left:10px;
}
.main .right .mod .modtitle
{
    font-size:36px;
}
.main .right .mod .mods .mode .modname
{
    font-size:24px;
}
.bottomline
{
    width:100%;
    height:120px;
    background:#000f;
    color:#555f;
    padding:50px;
    position:fixed;
    bottom:0px;
    z-index:7;
}
.bottomline .other
{
    float:right;
}
.bottomline .other i
{
    font-size:32px;
    color:#ffff;
}
.bottomline .last
{
    text-align:center;
}
@keyframes OooShiny
{
    from
    {
        color:#000f;
    }
    to
    {
        color:#444f;
    }
}
@keyframes Gradientmoment
{
    from
    {
        color:#f00f;
    }
    8%
    {
        color:#f80f
    }
    16%
    {
        color:#ff0f;
    }
    26%
    {
        color:#8f0f;
    }
    33%
    {
        color:#0f0f;
    }
    41%
    {
        color:#0f8f;
    }
    50%
    {
        color:#0fff;
    }
    58%
    {
        color:#08ff;
    }
    67%
    {
        color:#00ff;
    }
    74%
    {
        color:#80ff;
    }
    83%
    {
        color:#f0ff;
    }
    92%
    {
        color:#f08f;
    }
    to
    {
        color:#f00f;
    }
}
@keyframes InvertRGBmoment
{
    from
    {
        color:#0fff;
    }
    8%
    {
        color:#08ff;
    }
    16%
    {
        color:#00ff;
    }
    26%
    {
        color:#80ff;
    }
    33%
    {
        color:#f0ff;
    }
    41%
    {
        color:#f08f;
    }
    50%
    {
        color:#f00f;
    }
    58%
    {
        color:#f80f;
    }
    67%
    {
        color:#ff0f;
    }
    74%
    {
        color:#8f0f;
    }
    83%
    {
        color:#0f0f;
    }
    92%
    {
        color:#0f8f;
    }
    to
    {
        color:#0fff;
    }
}